/* 
The important idea is inheritance
Child inherit from its parent and it can override it!
*/
/* global rule*/
* {
    margin: 0;
    padding: 0;
    /*
    Reference: https://www.webdesigns.com.tw/CSS_box-sizing.asp
    https://zh-tw.learnlayout.com/box-sizing.html
    */
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: Helvetica Neue, Arial;
    font-size: 18px; 
}

/*extract the same attribute*/
h1, h2{
    color: #239600;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
    
.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.author-text{
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

.container {
    width: 1140px;
    /* center */
    /* margin: top right bottom left;*/
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;/* to use absolute postion in child element*/
}

.other-posts {
    width: 25%;
    float: left;
}

.author-box {
    padding-top: 20px;
    border-top: 1px solid #848484;
}

.other {
    margin-bottom: 40px;
}

.author-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

.blog-post img{
    height: 150px;
    width: auto;
}

.date {
    position: absolute;
    top: 10px;
    right: 30px;
}